* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
}

div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;    
}

img {
    width: 75px;
    height: 75px;
    padding: 3.5px;
    border: 1px white solid;
}

p {
    font-size: 16px;
    color: rgb(58, 0, 167);
}